
body
{
    background-image: url(../assets/IP.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-text
{
    font-size: 80px;
    color: white;
}

.side-text
{
    font-size: 32px;
    color: white;
}