@font-face {
    font-family: "Josefin Sans";
    src: url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
  }

.navbar{
    background-color: #242758;
}

.btn {
    background-color: #363A77;
    padding-left: 15px;
    border-radius: 15px;
    font-family: "Joesfin Sans";
}

.navbar-header {
    padding-left: 25px;
}

.navbar-right {
    padding-right: 25px;
}