@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

.navbar {
  background-color: #242758;
}

.btn {
  background-color: #363a77;
  padding-left: 15px;
  border-radius: 15px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
}

.navbar-header {
  padding-left: 25px;
}

.navbar-right {
  padding-left: 25px;
  padding-top: 5px;
}

.toggleButton{
  background-color: white;
}
