html, 
body
{
    height: 100%;
    background-color: rgb(245, 245, 245);
}

.card-text
{
    padding-left: 10px;
    border-left: solid #1463a8 5px;
}

h1 
{
     font-family: Quicksand; 
     font-size: 50px; 
     font-style: normal; 
     font-variant: normal; 
     font-weight: 700; 
     line-height: 50px; 
} 
h3 
{ font-family: Quicksand; 
    font-size: 30px; font-style: normal; 
    font-variant: normal; 
    font-weight: 700;
    line-height: 30px; 
} 
p 
{ 
    font-family: Quicksand; 
    font-size: 17px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 23px; 
} 
blockquote
 { 
     font-family: Quicksand; 
    font-size: 22px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 23px; 
} 
body
{
    font-family: Quicksand
}
